<style>
body {
  background-color: #f8f8f8!important;
}

.navy {
  height: 368px;
}
</style>

<div class="container home-welcome">
  <div class="row">
    <div class="col-md-12">
      <div class="Morning-Jony">
        Morning, <b>Donald</b>.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 search-bar">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" class="form-control" placeholder="FIND SOMEONE FOR...">
      </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= link_to(users_path) do %>
    <div class="col-md-4 interest-box hiking-button">
      <%= image_tag "hiking@2x.png", :class => "button-image"%>
        <span>Hiking</span>
    </div>
    <% end %>
    <div class="col-md-4 interest-box dog-button">
      <%= image_tag "dog@2x.png", :class => "button-image"%>
        <span>Dog Walking</span>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 interest-box water-button">
      <%= image_tag "aerob@2x.png", :class => "button-image"%>
        <span>Water Aerobics</span>
    </div>
    <div class="col-md-4 interest-box cycling-button">
      <%= image_tag "cycle@2x.png", :class => "button-image"%>
        <span>Cycling</span>
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 interest-box yoga-button">
      <%= image_tag "yogo@2x.png", :class => "button-image"%>
        <span>Yoga</span>
    </div>
    <div class="col-md-4 interest-box dancing-button">
      <%= image_tag "dance@2x.png", :class => "button-image"%>
        <span>Dancing</span>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>


  <%= render 'shared/footer' %>
