<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav role="navigation">
      <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <a data-toggle-menu class="overlay-nav-menu-toggle" href="#overlay-nav-menu"><i class="fa fa-plus"></i></a>

      <script>$('[data-toggle-menu]').on("click", function(){
          $("#overlay-nav-menu").toggleClass("is-open");
    </nav>

});

</script>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>