<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title><%= content_for?(:title) ? yield(:title) : "PearUP" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="sidr">
    <!-- Your content -->
      <div id="sidr-header">
        <span id="close-sidr" class="glyphicon glyphicon-remove"></span>
        <p>
          Messages (2)
        </p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-2 chat-icons">
            <%= image_tag "chat-icons.png", :class=> "chat-icons-picture" %>
          </div>
          <div class="col-md-10 chat-text">
            <%= image_tag "chat-body.png", :class=> "chat-text-picture" %>
            <input class="chatbox">
          </div>

        </div>
      </div>

    </div>

    <%= render 'shared/header' %>

    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>
